body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: "Atkinson Hyperlegible", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

ul {
    text-decoration: none;
    list-style: none;
}

.marchio-nav {
    max-width: 50px;
}
 
img {
    max-width: 100%;
    display: block;
}
 
header {
    padding: 20px;
    background-color: #101010;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a, header a {
    color: white;
    text-decoration: none;
}

.hero {
    display: flex;
    background-color: #101010;
    color: #fff;
    justify-content: center;
}

.hero__container {
    padding: 20px;
    display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__container, .hero__image {
    width: 50%;
}

.hero p {
    font-size: smaller;
    padding-top: 20px;
}

.hero a {
    max-width: max-content;
}

a {
    position: relative;
    text-decoration: none;
    color: inherit;
    }

    a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #fff700;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
      
      a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
      
.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
    padding: 20px 16px;
    max-width: 1200px;
    margin: auto;
}

.card p {
    padding-top: 5px;
}

.card__text {
    background-color: #101010;
    padding: 16px;
    color: #fff;
}

.card__text a {
    color: #fff;
}

.card img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.eventi {
    padding: 64px 0px 64px 0px;
    background-color: #101010;
    color: #fff;

}

.card_eventi {
    color: #fff;

}

.eventi p {
    padding-top: 5px;
}

.info {
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px
}

.eventi img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    padding-bottom: 15px;
}

.paragrafo-didascalico {
    max-width: 800px;
}

.paragrafo-eventi {
    margin-top: 0px;
}

.card_container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
}

.visite {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 64px 16px;
    gap: 16px;
}

.visite div {
    width: 50%;
}

.lista-contatti {
    padding: 10px;
    list-style: none;
}

footer {
    display: flex;
    width: 100%;
    background-color: #101010;
    color:#fff;
    justify-content: space-between;
    padding: 20px 16px;
    gap: 16px;
}

@media (max-width:600px) /* o la misura che volete */  {
    .hero {
        flex-direction: column;
    }

    .hero__container, .hero__image {
        width: 100%;
    }

    .info {
        padding-left: 15px;
    }

    .eventi {
        padding-left: 15px;
    }

    .card_container {
        padding-left: 15px;
    }

    .visite {
        flex-direction: column;
    }
    
    .visite div {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    .hero__container {
        font-size: small;
    }
