body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: "Atkinson Hyperlegible", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul { 
    margin: 0;
    padding: 0;
} /* qua ci stava ol ma preveniva il rientro della lista nelle condizioni e trattamento, però questo ha portato alla creazione di uno spazio laterale */

.titoletti-cookie {
    margin-top: 25px;
    margin-bottom: 15px;
}

.test-link li a:hover {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: yellow;
  }
    .test-link-neg li a:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: yellow;
    }


    .breadcrumb li { /* Visualizza gli elementi di elenco fianco a fianco */
        display: inline;
    }

    .breadcrumb li a:hover {
        color: #000000;
        text-decoration: underline;
        text-decoration-color: yellow;
    }

    ul.breadcrumb li+li:before { /* Aggiunge slash (/) prima/dopo ogni  elemento di elenco */
        padding: 8px;
        color: black;
        content: "/\00a0";
    }
    
    ul.breadcrumb li a {
        color: #0275d8;
        text-decoration: none;
    }


ul {
    text-decoration: none;
    list-style: none;
}

.li-lista-museo {
    margin-top: 10px;
    margin-bottom: px;
}

.marchio-nav {
    max-width: 50px;
}
 
img {
    max-width: 100%;
    display: block;
}
 
header {
    padding: 10px 40px 0px 40px;
    background-color: #101010;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0px;
}

nav a, header a {
    color: white;
    text-decoration: none;
}

/*

    .hero {
        display: flex;
        background-color: #101010;
        color: #fff;
        justify-content: center;
    }

    .hero__container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero__container, .hero__image {
        max-width: 50%;
    }

    .hero p {
        font-size: smaller;
        padding-top: 20px;
    }

    .hero a {
        max-width: max-content;
    }

*/

.containertest {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 255, 255, 0));
    position: relative;
    text-align: center;
    color: white;
}

.heroimage {
    width:100%;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    /* transform: scaleX(-1); serve a riflettere l'img */
}

/* .box {   per gradient hero
    width: 100vw;
    height: 90vh;
} */

.herotext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    position: ;
    background-color: rgba(0, 0, 0, 0);
    color: white; padding: 20px;
    text-align: left;
}

.universale {
    display: flex;
    background-color: #fff;
    color: #000000;
    justify-content: center;
    align-items: flex-start;
}

.universale__container {
    padding: 20px;
    display: flex;
  flex-direction: column;
  justify-content: center;
}

.universale__container, .universale__image {
    max-width: 40%; /* 50% ? */
}

.universale__container, .universale__image__eventi {
    max-width: 40%; /* 50 ? */
}

.universale__image__eventi {
    margin-top: 40px;
}

.universale__image img {
    padding: 10px;
    height: 300px;
    max-width: 100%;
    object-fit: cover;
    
}

.universale__image__eventi img {
    padding: 10px;
    height: 100%;
    max-width: 100%; /* 100% ? */
    object-fit: cover;
    
}

.a-evidenziato {
    color: revert;
}

a {
    position: relative;
    text-decoration: none;
    color: inherit;
    }

    /* a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #fff700;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
      
      a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      } */

.button {
    background-color: #101010;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover {
    background-color: yellow;
    color: rgb(0, 0, 0);
}

/*inizio dropdown*/

    li.dropdown {
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #101010;
        min-width: 160px;
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        z-index: 1;
    }
    
    .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {
        background-color: yellow;
        color: black;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

/*fine dropdown*/

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
    padding: 20px 16px;
    max-width: 1200px;
    margin: auto;
}

.card p {
    padding-top: 5px;
}

.card__text {
    background-color: #101010;
    padding: 16px;
    color: #fff;
}

.card__text:hover {
    background-color: yellow;
    padding: 16px;
    color: #000000;
    transition-duration: 0.3s;
}

.card__text a {
    color: #fff;
}

.card img {
    height: 250px;
    max-width: 100%;
    object-fit: cover;
}

.eventi {
    padding: 1px 0px 32px 0px;
    background-color: #101010;
    color: #fff;
    margin-top: 64px;
}

.card_eventi {
    color: #fff;

}

.eventxhover {
    color: white;
    transition-duration: 0.5s;
    padding: 5px;
}

.eventxhover:hover {
    background-color: yellow;
    color: #000000;
    transition-duration: 0.5s;
    padding: 5px;
}

.eventi p {
    padding-top: 5px;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.info {
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px
}

.eventi img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    padding-bottom: 15px;
}

.paragrafo-didascalico {
    max-width: 800px;
}

.paragrafo-eventi {
    margin-top: 0px;
}

.card_container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
}

.visite {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 64px 16px;
    gap: 16px;
}

.visite div {
    width: 50%;
}

.lista-contatti {
    padding: 10px;
    list-style: none;
}

ol {
    list-style-position: inside;
    padding: auto;
}

footer {
    display: flex;
    max-width: 100%;
    background-color: #101010;
    color:#fff;
    justify-content: space-between;
    padding: 20px 5%;
    gap: 16px;
}

@media (max-width:600px) /* o la misura che volete */  {
    /*.hero {
        flex-direction: column;
    }

    .hero__container, .hero__image {
        width: 100%;
    } */

    .herotext { /* perchè non funziona? */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: ;
        background-color: rgb(0, 0, 0, 0);
        color: white; padding: 20px;
        text-align: left;
    }

    .info {
        padding-left: 15px;
    }

    .eventi {
        padding-left: 15px;
    }

    .card_container {
        padding-left: 15px;
    }

    .visite {
        flex-direction: column;
    }
    
    .visite div {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    .hero__container {
        font-size: small;
    }

    .universale__container {
        font-size: small;
        width: 100%;
    }

    .universale {
        flex-direction: column;
    }

    .universale__container, .universale__image {
        width: 100%;
    }

/* inizio css. pagina Eventi */
}
.titolo_lista{ 
    padding-left: 40pt;
    padding-top: 25px;
    padding-bottom: 25px;
}
.container {
    display: flex;
    align-items: center; /* Allinea verticalmente il testo al centro delle immagini */
    gap: 10px; /* Spaziatura tra le immagini e il testo */
    margin-bottom: 20px; /* Spaziatura tra le sezioni */
    width:50%; /*imposta larghezza del container per avere due container*/ 
    box-sizing: border-box; /*include padding e border nella largheza */
}
.row {
    display:flex;
    width:100%;
    gap:5px;
}
.grid-container {
    display: flex;
    grid-template-columns: 1fr 1fr; /* Due colonne di larghezza uguale */
    gap: 5px; /* Spaziatura tra le immagini */

}
.img_lista {
    max-width: 350px; /* Larghezza massima delle immagini */
    height: auto; /* Mantiene il rapporto di aspetto delle immagini */
    margin-left: 50px;
    margin-right: 50px;
    object-fit: cover;
    width: 250px;/*definisce la largezza delle img*/
    height: 300px;/*definisce quanto deve esere alta una img*/
}
.grid-container img {
    max-width: 50%; /* Impedisce alle immagini di superare la larghezza del contenitore */
    height: auto; /* Mantiene il rapporto di aspetto delle immagini */
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px
}
p { 
    overflow: hidden; /* Per evitare che il testo si sovrapponga alle immagini */
}
.text-container {
    margin-right: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 10px; /* Spaziatura tra l'immagine e il testo */
    flex:1;
}
.gerarchia{
    padding-top: 5px;
    padding-bottom: 5px;
}
.spazio_testo{
    padding-top: 15px;
}
